@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

html, body {
  overflow-x: hidden; /* Убирает горизонтальный скролл */
  width: 100%; /* Фиксирует ширину */
}

html {
    /* плавный скрол */
    scroll-behavior: smooth;
}

body {

    font-family:"Rethink Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color:var(--black);


}

body.no-scroll {
    overflow: hidden;
}



.container {
    margin: 0 auto;
    max-width: 1740px;
    padding: 0 10px;

}


.none {
    display: none;
}